/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <=11
*/

/* Fonts */

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-grey: #EEEEEE;
  --basic-grey-0: #E1E1E1;
  --basic-grey-1: #DFDFDF;
  --basic-grey-2: #D5D5D5;
  --basic-grey-3: #B4B9BB;
  --basic-grey-4: #C1C1C1;
  --basic-grey-5: #d7dcde;
  --basic-grey-6: #cfcfcf;
  --basic-grey-7: #ababab;
  --basic-grey-8: #DBDBDB;

  --basic-extra-grey: #888888;
  --basic-light-grey: #666666;
  --basic-white-grey: #444444;
  --basic-white: #ffffff;
  --basic-white-1: #f1f1f1;

  --basic-red:#FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;

  --basic-green:#00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;

  --basic-yellow:#EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
}

/* Grid */

.page {
  height: 100%;
}

/* Global */

.page-body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  box-sizing: border-box;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Buttons */

.button {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-red);
  border-radius: 3px;
  transition: all 0.3s linear;
}

.button_slider {
  margin-bottom: 10px;
  padding: 16px 54px;
}

.button_slider:hover {
  background: var(--basic-red-hover);
}

.button_slider:active {
  background: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_modal {
  padding: 17px 83px 15px ;
  border: none;
  cursor: pointer;
}

.button_small {
  padding: 17px 40px 15px 39px;
}

.button_red:hover {
  background-color: var(--basic-red-hover);
}

.button_red:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_green {
  background-color: var(--basic-green);
}

.button_green:hover {
  background-color: var(--basic-green-hover);
}

.button_green:active {
  background-color: var(--basic-green-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_yellow {
  background-color: var(--basic-yellow);
}

.button_yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button_yellow:active {
  background-color: var(--basic-yellow-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button_contact {
  border: none;
  padding: 17px 44px 15px 44px;
  cursor: pointer;
}

.button-catalog {
  padding: 17px 72px 15px 72px;
}

.button-form {
  color: var(--basic-black);
  background-color: var(--basic-grey);
  font-weight: bold;
  border: none;
  padding: 17px 89px 15px 88px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-form:hover {
  background-color: var(--basic-grey-1);
}

.button-form:active {
  background-color: var(--basic-grey-2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Header */

.main-header,
.main-navigation {
  background-color: var(--basic-grey);
}

.main-header {
  padding-top: 52px;
}

.main-header-logo {
  margin-top: -3px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  max-width: 600px;
}

.site-navigation__link {
  margin-right: 45px;
  position: relative;
}

.site-navigation__link a {
  padding: 20px 0;
}

.navigation-link_active::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-red);
}

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
  transition: all 0.3s ease;
}

.site-navigation a:hover,
.cart-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart-navigation {
  position: relative;
}

.cart-link {
  padding-left: 45px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
}

/* Slider*/

.slider {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}

.slides {
  position: relative;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item {
  min-height: 417px;
  background-position: bottom -1px right 5px;
  background-repeat: no-repeat;
}

.slider-item_order1 {
  background-image: url(../img/slider/main-slider-slide1.png);
}

.slider-item_order2 {
  background-image: url(../img/slider/main-slider-slide2.png);
  background-repeat: no-repeat;
}

.slider-item_order3 {
  background-image: url(../img/slider/main-slider-slide3.png);
}

.slider-title {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 25px;
  padding-top: 66px;
}

.slider-text {
  max-width: 400px;
  color: var(--basic-extra-dark);
  margin-bottom: 40px;
}

.slider-controls {
  position: absolute;
  left: 534px;
  bottom: 86px;
}

.button-slider {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  margin-right: 15px;
  cursor: pointer;
}

.button-current {
  position: relative;
  top: -8px;
}

.button-current::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--basic-grey-3);
  box-sizing: border-box;
}

/* Services */

.services {
  margin-bottom: 50px;
  position: relative;
}

.container-services {
  border-bottom: 2px solid var(--basic-grey);
}

.services-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 30px;
}

.services-item {
  max-width: 300px;
  margin-bottom: 30px;
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 17px;
}

.services-text {
  color: var(--basic-extra-dark);
  margin-bottom: 33px;
}

.services-image {
  background-color: var(--basic-extra-dark);
  height: 146px;
  margin-bottom: 25px;
}

.services-image img{
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-bottom: 32px;
}

.about-title__text {
  margin-bottom: 40px;
}

.about-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.about-subtitle_left {
  margin-left: 4px;
  margin-bottom: 30px;
}

.about-descriptions {
  max-width: 700px;
}

.about-descriptions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-descriptions__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px
}

.list-descriptions__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 43%;
  left: 0;
  background-color: var(--basic-red);
}

.about-feature {
  flex: 0 0 30%;
}

.about-feature__image {
  height: 208px;
  padding-top: 12px;
  margin-bottom: 34px;
}

.about-feature__image img {
  width: 100%;
  height: 100%;
  margin-left: -8px;
}

.about-item {
  line-height: 18px;
}

.about-item:nth-child(1) {
  margin-left: -11px;
}

.about-item:nth-child(2) {
  margin-left: 10px;
}

.about-item:nth-child(3) {
  margin-right: -17px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 570px;
  display: flex;
}

.about-item__num {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

/* Clients */

.clients {
  margin-bottom: 72px;
}

.clients-inner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1159px;
  align-items: center;
  min-height: 180px;
  padding: 44px 40px;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients-item {
  position: relative;
}

.clients-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.clients-item:nth-child(1) {
  margin-left: -8px;
}

.clients-item:nth-child(2)::after {
  left: 121%;
}

.clients-item:nth-child(3)::after {
  left: 130%;
}

.clients-item:nth-child(4) {
  padding-left: 20px;
}

.clients-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
  transition: all 0.3s ease;
}

.clients-item img:hover {
  opacity: 1;
}

.clients-item img:active {
  opacity: 0.1;
}

/* Catalog-page */

.page-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 0 0 47px 4px;
}

/* Filters */

.filter-block {
  width: 260px;
  margin-left: -15px;
}

.filter-field {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter {
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter-option {
  list-style: none;
  margin-bottom: 14px;
  white-space: nowrap;
  position: relative;
}

.filter-input {
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* filter range */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-bottom: 53px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 44px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-white-1);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-grey-5);
}

.range-controls .bar {
  width: 66%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 35px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-7);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey-6);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-white-1);
  font-family: inherit;
  font-size: inherit;
}

/* custom checkbox/radio*/

.custom-check {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
}

.custom-radio {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
}

.filter-input:disabled  + .custom-check {
  opacity: 0.3;
}

.filter-input:focus  + .custom-check {
  background-image: url(../img/checkbox-off2.svg);
}

.filter-input:focus  + .custom-radio {
  background-image: url(../img/radio-off2.svg);
}

.filter-input:hover  + .custom-check {
  background-image: url(../img/checkbox-off2.svg);
}

.filter-input:hover  + .custom-radio {
  background-image: url(../img/radio-off2.svg);
}

.filter-input:checked + .custom-check {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input:checked + .custom-radio {
  background-image: url(../img/radio-on.svg);
}

.filter-input:focus.filter-input:checked + .custom-check {
  background-image: url(../img/checkbox-on2.svg);
}

.filter-input:focus.filter-input:checked + .custom-radio {
  background-image: url(../img/radio-on2.svg);
}

/* catalog */

.catalog {
  width: 766px;
}

.catalog-inner {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  max-width: 760px;
  margin-top: -3px;
  margin-bottom: 47px;
}

.sort-list {
  display: flex;
}

.sort-list__item + .sort-list__item {
  margin-left: 20px;
}

.sort-list__item {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sort-list__item:hover,
.sort-list__item:focus {
 color: var(--basic-black);
 opacity: 0.6;
}

.catalog-up {
  opacity: 0.2;
  transform: rotate(180deg);
}

.sort-list__item:active {
  color: var(--basic-black);
  opacity: 1;
}

.sort-list__item:active  .catalog-up {
  color: var(--basic-black);
  opacity: 1;
}

.catalog-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-right: 100px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 24px;
}

.catalog-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  max-width: 760px;
}

.catalog-item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 28px;
  margin-right: 40px;
  max-height: 620px;
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 359px;
  height: 40px;
  background-image: url(/img/catalog/browser.png);
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.catalog-item:focus .item-description {
  opacity: 1;
  visibility: visible;
}

.catalog-item:active .item-description {
  opacity: 1;
  visibility: visible;
}

.catalog-item:hover .item-description {
  opacity: 1;
  visibility: visible;
}

.item-description:focus-within {
  opacity: 1;
  visibility: visible;
}

.catalog-item__header {
  margin-bottom: -7px;
  opacity: 0.3;
  transition: all 0.4s linear;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-items__img {
  margin-top: 40px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-description {
  position: absolute;
  bottom: 0;
  background-color: var(--basic-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s linear;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  height: 231px;
  width: 360px;
  overflow-y: auto;
}

.item-description__title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 8px;
}

.item-description__title:hover {
  color: var(--basic-red);
}

.item-description__title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.item-description p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--basic-black);
  width: 255px;
  font-size: 16px;
  margin-bottom: 25px;
  justify-content: center;
}

.title-block {
  min-height: 235px;
  background-color: var(--basic-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 53px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs a {
  margin-right: 25px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
 color: var(--basic-black);
 opacity: 0.6;
}

.breadcrumbs a:active {
  color: var(--basic-black);
  opacity: 1;
 }

.breadcrumbs-current a {
  opacity: 1;
  color: var(--basic-black);
}

.breadcrumbs-current img {
  opacity: 1;
}

/* Pagination */

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 60px;
}

.pagination-item a {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

.pagination-item {
  box-sizing: border-box;
  margin-right: 11px;
  background-color: var(--basic-grey);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.pagination-next {
  height: 50px;
  width: 260px;
}

.pagination-item-current {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-8);
}

.pagination-item:hover {
  background-color: var(--basic-grey-1);
}

.pagination-item:active {
  color: var(--basic-grey-2);
  background-color: var(--basic-grey-2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Footer */

.footer-map {
  height: 416px;
  background-image: url(../img/map.jpg);
}

.footer-map iframe {
  width: 100%;
  height: 416px;
  border: none;
}

.contac-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.contact-block {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 319px;
  min-height: 308px;
  background-color: var(--basic-white);
  padding: 54px 50px 15px 50px;
}

.contact-block__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 23px;
}

.contact-block__text {
  line-height: 18px;
  color: var(--basic-light-grey);
  margin-bottom: 16px;
}

.contact-block__phone {
  color: var(--basic-light-grey);
  display: block;
  margin-bottom: 33px;
}

.footer-content {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 13px;
}

.footer-content__title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: -8px;
}

.footer-inner {
  height: 217px;
  display: flex;
  align-items: center;
}

.footer-social {
  flex: 0 0 33.33333%;
}

/* Social */

.social-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.social-item {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--basic-grey-0), var(--basic-grey-0)), var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.social-item:hover {
  background: linear-gradient(0deg, var(--basic-red-hover), var(--basic-red-hover)), var(--basic-white);
}

.social-item:active img {
  opacity: 0.3;
}

.social-item:active {
  background: linear-gradient(0deg, var(--basic-red-active), var(--basic-red-active)), var(--basic-white);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* modal */

.modal {
  position: fixed;
  width: 960px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 63px 100px 84px 100px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  transition: all 0.8s ease 0s;
}

.form-data__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 0;
  margin-bottom: 37px;
}

.modal-form {
  font-weight: bold;
  line-height: 18px;
}

.user-name,
.user-email,
.user-message {
  font: inherit;
  font-weight: normal;
  color: var(--basic-white-grey);
  border: 2px solid var(--basic-grey-5);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px 14px 16px 16px;
  width: 360px;
  margin-top: 9px;
}

.user-name::placeholder,
.user-email::placeholder,
.user-message::placeholder {
  color: var(--basic-white-grey);
  opacity: 0.5;
}

.user-message {
  width: 100%;
  height: 118px;
  margin-bottom: 47px;
}

.user-name:hover,
.user-email:hover,
.user-message:hover {
  color: var(--basic-white-grey);
  border: 2px solid var(--basic-grey-3);
}

.user-name:focus,
.user-email:focus,
.user-message:focus {
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
}

.user-email:invalid {
  color: var(--basic-red-hover);
  border: 2px solid var(--basic-red-hover);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: var(--basic-white);
  background-image: url(../img/modal-close.svg);
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s linear;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.popup {
  display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.80);
	top: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 50;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.8s ease 0s;
}

.popup-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.popup-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
