/* Fonts */

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-grey: #EEEEEE;
  --basic-grey-1: #DFDFDF;
  --basic-grey-2: #D5D5D5;
  --basic-grey-3: #B4B9BB;
  --basic-extra-grey: #888888;
  --basic-light-grey: #666666;
  --basic-white-grey: #444444;
  --basic-white: #ffffff;

  --basic-red:#FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;

  --basic-green:#00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;

  --basic-yellow:#EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
}

/* Grid */

.page {
  height: 100%;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  box-sizing: border-box;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Buttons */

.button {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-red);
  border-radius: 3px;
  transition: all 0.3s linear;
}

.button_slider {
  padding: 16px 54px;
}

.button_slider:hover {
  background: var(--basic-red-hover);
}

.button_slider:active {
  background: var(--basic-red-active);
}

.button_modal {
  padding: 17px 83px 15px ;
  border: none;
  cursor: pointer;
}

.button_small {
  padding: 17px 40px 15px 39px;
}

.button_red:hover {
  background-color: var(--basic-red-hover);
}

.button_red:active {
  background-color: var(--basic-red-active);
}

.button_green {
  background-color: var(--basic-green);
}

.button_green:hover {
  background-color: var(--basic-green-hover);
}

.button_green:active {
  background-color: var(--basic-green-active);
}

.button_yellow {
  background-color: var(--basic-yellow);
}

.button_yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button_yellow:active {
  background-color: var(--basic-yellow-active);
}

.button_contact {
  padding: 17px 44px 15px 44px;
}

.button-catalog {
  padding: 17px 72px 15px 72px;
}

.button-form {
  color: var(--basic-black);
  background-color: var(--basic-grey);
  font-weight: bold;
  border: none;
  padding: 17px 89px 15px 88px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-form:hover {
  background-color: var(--basic-grey-1);
}

.button-form:active {
  background-color: var(--basic-grey-2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Header */

.main-header,
.main-navigation {
  background-color: var(--basic-grey);

}
.main-header {
  padding-top: 75px;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;

}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.site-navigation__link {
  margin-right: 45px;
  position: relative;
}

.navigation-link_active::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-red);
/* border-bottom: 2px solid var(--basic-red); */
}

.site-navigation a,
.cart-navigation a {
  color: var(--basic-black);
  transition: all 0.3s ease;
}

.site-navigation a:hover,
.cart-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart-navigation {
  position: relative;
}

.cart-link {
  padding-left: 45px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
}

/* Slider*/

.slider {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}

.slider-inner {
  width: 100%;
  height: 438px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slider-navigation {
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: flex;
}

.navigation-bar {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  margin-right: 17px;
  transition: all 0.4s ease;
}

#r1:checked ~ .slider-item1 {
  margin-left: 0;
}

#r2:checked ~ .slider-item2 {
  margin-left: -25%;
}

#r3:checked ~ .slider-item3 {
  margin-left: -50%;
}


.slider-item {
  width: 25%;
  display: flex;
  transition: all 0.6s ease;
}

.slider-description{
  flex: 0 0 33.33333%
}

.slider-description__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slider-description__text {
  color: var(--basic-extra-dark);
}

.slider-image {
  background-color: var(--basic-grey);
}

.slider-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Clients */

.clients {
  margin-bottom: 80px;
}

.clients-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.clients-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  transition: all 0.3s ease;
}

.clients-item img:hover {
  opacity: 1;
}

.clients-item img:active {
  opacity: 0.1;
}

/* Services */

.services {
  margin-bottom: 80px;
}

.container_services {
  max-width: 1100px;
}

.services-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-item {
  max-width: 300px;
  margin-bottom: 30px;
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-image {
  background-color: var(--basic-extra-dark);;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-descriptions {
  max-width: 700px;
}

.about-descriptions__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-feature {
  flex: 0 0 20%;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.about-item__num {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

/* Footer */

.contact-block__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contact-block__text {
  line-height: 18px;
  color: var(--basic-light-grey);
}

.contact-block__phone {
  color: var(--basic-light-grey);;
}

/* Catalog-page */

.page-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.catalog-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.catalog-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filter-block {
  width: 260px;
}

/* Filters */

.filter-field {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter {
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter-range {
  width: 100%;
}

.filter-option {
  list-style: none;
  margin-bottom: 20px;
  white-space: nowrap;
  position: relative;
}

.filter-input {
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-num1,
.filter-num2
{
  width: 80px;
  height: 38px;
  border: none;
  line-height: 22px;
  background: var(--basic-grey);
  border-radius: 3px;
}

/* custom checkbox/radio*/

.custom-check {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
}

.custom-radio {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
}

.filter-input:focus  + .custom-check {
  background-image: url(../img/checkbox-off2.svg);
}

.filter-input:focus  + .custom-radio {
  background-image: url(../img/radio-off2.svg);
}

.filter-input:checked + .custom-check {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input:checked + .custom-radio {
  background-image: url(../img/radio-on.svg);
}

.filter-input:focus.filter-input:checked + .custom-check {
  background-image: url(../img/checkbox-on2.svg);
}

.filter-input:focus.filter-input:checked + .custom-radio {
  background-image: url(../img/radio-on2.svg);
}

/* catalog */

.catalog-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.catalog-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.catalog-item {
  margin-bottom: 30px;
  margin-right: 32px;
  width: 360px;
}

.item-description h3 {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.item-description p {
  color: var(--basic-light-grey);
  font-size: 16px;
  line-height: 18px;
}

.title-block {
  min-height: 235px;
  background-color: var(--basic-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  margin-right: 25px;
  color: var(--basic-extra-grey);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-black);
}

/* Pagination */

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 60px;
}

.pagination-item a {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

.pagination-item{
  box-sizing: border-box;
  margin-right: 11px;
  background-color: var(--basic-grey);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.pagination-next {
  height: 50px;
  width: 260px;
}

.pagination-item-current {
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
}

.pagination-item:hover {
  background-color: var(--basic-grey-1);
}

.pagination-item:active {
  color: var(--basic-grey-2);
  background-color: var(--basic-grey-2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Social */

.social-list {
  list-style: none;
  display: flex;
}

.social-item {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.social-item:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-item:active img {
  opacity: 0.3;
}

.social-item:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* footer */

.footer-content__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-inner {
  height: 217px;
  display: flex;
  align-items: center;
}

.footer-social {
  flex: 0 0 33.33333%;
}

/* modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.form {
  font-weight: bold;
  line-height: 18px;
}

.user-name,
.user-email,
.user-message {
  font: inherit;
  font-weight: normal;
  color: var(--basic-light-grey);
  opacity: 0.5;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
}

.user-name:hover,
.user-email:hover,
.user-message:hover {
  color: var(--basic-white-grey);
  border: 2px solid var(--basic-grey-3);
}

.user-email:invalid {
  color: var(--basic-red-hover);
  border: 2px solid var(--basic-red-hover);
}

